<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="view.css">
  <title>Habbit Maker</title>
</head>

<body>
  <header>
    <div id="headerLeft">
        <img src="../assets/images/HabbitMakerBreakerLogoBFinal.png" alt="logo">
        <h1>Habbit Maker</h1>
      </a>
    </div>
  </header>
  <nav>
  {{#if logged_in}}
  <a href="/goals">Goals</a>
  <button id="logout">Logout</button>
  {{else}}
  <a href="/login">Login</a>
  {{/if}}
  </nav>
  <main>
    <main class="center">
      {{{ body }}}
  </main>
  <footer>
    {{#if logged_in}}
    <script src="./js/logout.js"></script>
    {{/if}}
  </footer>


