* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark: hsl(230, 53%, 23%);
  --primary: hsl(230, 90%, 61%);
  --white: hsl(0, 0%, 90%);
  --cardColor: rgb(189, 185, 192);
}



#headerLeft a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
#headerLeft h1 {
  padding: 10px;
}
#headerLeft img {
  width: 45px;
  height: auto;
}

header {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  box-shadow: 0px 2px 50px #000;
}
header h1 {
  color: var(--primary);
}

nav {
  color: white;
  
}

ul {
  color: white;
  display: flex;
}

li {
  list-style: none;
}
li a {
  margin: 20px;
  color: white;
  text-decoration: none;
  color: var(--primary);
  font-weight: 600;
}

/* main {
  margin: 20px 8%;
} */
body {
  background: url(../assets/images/AddCardBackground.png);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

/* ^^ basic css format ^^ */



#card {
  position: relative;
  transform: translate(-50%, 0%);
  top: 100px;
  left: 50%;
  width: 620px;
  height: 735px;
  background-color: var(--cardColor);
  overflow: hidden;
  border: 1px solid var(--cardColor);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  background: transparent;
  padding: 30px;
}

#flexCol {
  display: flex;
  flex-direction: column;
}
#flexCol input {
  margin: 5px 0;
}

#card img {
  overflow: hidden;
}

#titleInput {
  border: none;
}

#descInput {
  border: none;
}
